*.iml
.gradle
/local.properties
/.idea
/.vscode
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.codex
hs_err_pid*.log
replay_pid*.log
